/*
#2f6061
#7b8988
#323131
#c2a7a1
#feeae2
*/


body {
    margin: 0;
    background-color: #feeae2;
    background-image: url(../img/skyline4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    min-height: 500px;
}

.container {
    background: #7b8988;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
    height: 60vh;
    width: 40vw;
}

.div {
    padding: 10px;
    background-repeat: no-repeat;
}

#navbarDiv {
    float: right;
    margin-top: 20px;
}

nav a {
    color: #feeae2;
    padding: 0 30px;
}

nav a:hover {
    color: #323131;
}

.div-rounded {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: url(../img/);
    margin: 30px auto 50px;
}

.div-image {
    height: 30px;
    width: 30px;
    background-size: 100%;
}

.user-icon {
    background-image: url(../img/);
}

.div-input {}

input {
    padding: 10px;
    width: 300px;
    height: 20px;
    border-radius: 30px;
}


.password-icon {
    background-image: url(../img/);
}

.rowDiv {
    overflow: auto;
    padding: 10px;
    width: 100%;
}

/* .rowDiv>div {
    float: left;
} */

.button {
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    background-color: #2f6061;
    color: #feeae2;
}