/*
#2f6061
#7b8988
#323131
#c2a7a1
#feeae2
#8a9695;
*/


body {
    margin: 0;
    background-color: #8a9695;
    background-image: url(../img/skyline4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    min-height: 500px;
}

.container {
    background: #8a9695;
    margin: 100px auto;
    height: 60vh;
    width: 40vw;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}


#navbarDiv {
    float: right;
    margin-top: 20px;
}

nav a {
    color: #feeae2;
    padding: 0 30px;
    font-size: 15pt;
}

nav a:hover {
    color: #323131;
}

.div {
    padding: 10px;
    background-repeat: no-repeat;
}

.div-rounded {
    background-image: url(../img/team.png);
    background-size: 100%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: auto;
}

.user-icon {
    background-image: url(../img/user\ \(2\).png);
}

.password-icon {
    background-image: url(../img/padlock.png);
}

.div-image {
    height: 70px;
    width: 70px;
    background-size: 100%;
    margin: 10px;
}


.div-input {}

input {
    padding: 10px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
}


.rowDiv {
    padding: 20px;
}

.rowDiv>div {
    display: inline;

}

.button {
    background-color: #7b8988;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    border: 1px solid #feeae2;
    color: #feeae2;
}

.container {
    text-align: center;
}

.visibilityNone {
    display: none;
}

.visibility {
    display: visible;
}

.newRegistrationButton {
    margin-top: 30px;
}