/*
#2f6061
#7b8988
#323131
#c2a7a1
#feeae2
*/


body {
    margin: 0;
    background-color: #c2a7a1;
    background-image: url(../img/skyline4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    min-height: 500px;
}

.container {
    background: #feeae2;
    border: 10px solid #2f6061;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
    height: 60vh;
    width: 40vw;
}

.div {
    position: relative;
    border: 2px solid #7b8988;
    padding: 10px;
}

#navbarDiv {
    float: right;
    margin-top: 20px;
}

nav a {
    color: #feeae2;
    padding: 0 30px;
}

nav a:hover {
    color: #323131;
}

.div-rounded {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.div-image {
    height: 30px;
    width: 30px;
}

.div-input {}